<tabset>
    <tab ng-repeat="pod in pods" heading="{{pod.title}}" active="pod.active" disable="pod.disabled" ng-click="selectPod(pod.id)">
        <div ng-show="!showRacks && !noRacks" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <div ng-show="showRacks && !noRacks" ng-include="'src/app/partials/rack.tpl.html'"></div>
        <div ng-show="noRacks">
            Oops, no physical resource found!
        </div>
    </tab>
</tabset>
